.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
.vscode
config.gypi
CVS
npm-debug.log
src
test
typings
.gitignore
tsfmt.json
tslint.json
tsconfig.json
tsconfig.doc.json
docs
node_modules
docker-compose.yml
Dockerfile
entrypoint.sh